*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.header {
    display: flex;
    height: auto;
    background-color: rgb(201, 170, 104);
}

.plus-btn {
    width: 30px;
    height: 30px;
}

.menu-btn {
    cursor: pointer;
    margin: 10px 0px 0px 10px;
    width: 30px;
    height: 30px;
}

.title-container {
    text-align: center;
    font-size: 70px;
    width: 50%;
    margin: auto;
    margin-top: 0;
}

.side-bar {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#e4e2e2;
    overflow-x: hidden;
    transition: 0.5s;
    display: grid;
    grid-template-columns: 80px 110px;
    grid-template-rows: 90px 90px 90px 90px;
    column-gap: 10px;
}

.side-bar img {
    height: 40px;
    width: 40px;
    align-self: center;
    justify-self: end;
    cursor: pointer;
}

.side-bar div {
    font-size: 25px;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.side-bar div:hover {
    color: rgb(136, 150, 189);
}

.main {
    transition: margin-left 0.5s;
}

.main-container {
    height: 100%;
    transition: margin-left 2.5s;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.main-title-container {
    width: 100%;
}

.main-title {
    font-size: 35px;
}

.task-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#todo-input {
    height: 40px;
}

.todo-container {
    height: auto;
    width: auto;
}

.todo-data:hover {
    background-color: rgb(230, 216, 187);
    transition: 0.5s;
}

.todo-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0px 10px 0px;
}

.todo-data .xmark, .cal, .book, .starz, .date-check, .note-check, .info-btn {
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 5px;
}

.todo-data .xmark, .cal, .book, .starz, .plus-btn, .date-check, .note-check, .info-btn:hover {
    cursor: pointer;
}

.checked {
    opacity: 0.3;
    text-decoration: line-through;
}

.todo-data-left {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 50px;
}

.date-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#title-value {
    padding-left: 5px;
}

#note-input {
    height: 80px;
}

.todo-data-right {
    display: flex;
    align-items: center;
}

.todo-data-mid {
    display: flex;
    align-items: center;
}

.form-container {
    width: 50%;
    display: grid;
    grid-template-columns: 150px 40px;
}

.plus-btn {
    align-self: center;
    justify-self: end;
}

/* popup page */
.popup-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-container {
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 0px;
}

.popup-title {
    font-size: 30px;
    grid-row: 1;
    grid-column: span 2;
    
}
.popup-due {
    grid-column: 1;
}
.popup-notes {
    grid-column: 1 / span 3;
    grid-row: 3;
    
}
.popup-exit {
    height: 40px;
    width: 40px;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    cursor: pointer;
}

/* today page */

