*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    /* padding: 10px; */
    height: auto;
    background-color: rgb(201, 170, 104);
}

#menu-icon {
    width: 30px;
    height: 30px;
    padding: 1px;
}

.menu-btn {
    background-color: rgb(201, 170, 104);
    cursor: pointer;
    border: none;
    margin: 10px 0px 0px 10px
}

.title-container {
    text-align: center;
    font-size: 70px;
    width: 50%;
    margin: auto;
    margin-top: 0;
}

.side-bar {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#e4e2e2;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-bar button {
    padding: 1rem;
    font-size: 25px;
    display: flex;
    transition: 0.6s;
    color: black;
    background-color: #e4e2e2;
    gap: 10px;
}

.side-bar button:hover {
    color: rgb(136, 150, 189);
}

.main {
    transition: margin-left 0.5s;
}

.main-container {
    height: 100%;
    transition: margin-left 2.5s;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: black solid 1px; */
    width: 70%;
    margin: auto;
}

.main-title-container {
    width: 100%;
}

.main-title {
    font-size: 35px;
}

.task-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#todo-input {
    height: 40px;
}

.todo-container {
    height: auto;
    width: auto;
}

object {
   
}

.todo-data:hover {
    background-color: rgb(230, 216, 187);
    transition: 0.5s;
}

.todo-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0px 10px 0px;
}

#xmark-img, #cal-img, #book-img, #starz-img {
    
}

.todo-data .xmark, .cal, .book, .starz, .date-check, .note-check, .info-btn {
    width: 35px;
    height: 35px;
    /* font-size: 25px; */
    margin: 0px 5px 0px 5px;
    /* padding: 1px; */
}

.todo-data .xmark, .cal, .book, .starz:hover {
    cursor: pointer;
}

.todo-data-left {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 50px;
    /* padding: 2px; */
}

#title-value {
    padding-left: 5px;
}

#note-input {
    height: 80px;
}

.todo-data-right {
    display: flex;
    align-items: center;
}

.todo-data-mid {
    display: flex;
    align-items: center;
}

.todo-data .object {
    
}

.form-container {
    display: flex;
    align-items: center;
}

#plus-icon {
    height: 25px;
    width: 25px;
    margin: 4px;
}

input[type=text] {
   
}

/* popup page */
.popup-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-container {
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 0px;
}

.test {
    /* border: red solid 0.5px; */
}

.popup-title {
    font-size: 35px;
    grid-row: 1;
    grid-column: span 2;
    
}
.popup-due {
    grid-column: 1;
}
.popup-notes {
    grid-column: 1 / span 3;
    grid-row: 3;
    
}
.popup-exit {
    height: 40px;
    width: 40px;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;

    cursor: pointer;
}




/* today page */

